<footer>
    <div class="container">
<div class="stay">
    <h2>
        STAY UPTO DATE ABOUT OUR LATEST OFFERS
    </h2>

<form>
    <i class="fa-regular fa-envelope"></i>
    <input type="email" id="email" name="email" placeholder="  Enter your email address" required>
    <button type="submit">Subscribe to Newsletter</button>
</form>


</div>





        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <div class="stract-footer d-flex flex-column justify-content-center">
                    <img class="logo" src="../assets\images\SHOP.CO.png" alt="">
                    <p> We have clothes that suits your style and which you’re proud to wear.
                        From women to men. </p>
                    <div class="icon d-flex align-items-center">
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a><i class="fa-brands fa-facebook-f"></i></a>
                        <a><i class="fa-brands fa-instagram"></i></a>
                        <a><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="list">
                    <span>Company</span>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Works</a></li>
                        <li><a href="">Career</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="list">
                    <span>Help</span>

                    <ul>
                        <li><a href="">Customer Support</a></li>
                        <li><a href="">Delivery Details</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>

                    </ul>

                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="list">
                    <span>FAQ</span>

                    <ul>
                        <li><a href="">Account</a></li>
                        <li><a href="">Manage Deliveries</a></li>
                        <li><a href="">Orders</a></li>
                        <li><a href="">Payments</a></li>

                    </ul>

                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="list">
                    <span>Resources</span>

                    <ul>
                        <li><a href="">Free eBooks</a></li>
                        <li><a href="">Development Tutorial</a></li>
                        <li><a href="">How to - Blog</a></li>
                        <li><a href="">Youtube Playlist</a></li>

                    </ul>

                </div>
            </div>

        </div>


        <div class="line-button"> </div>
        <div class="copyright">
            <p>© Copyright 2021, All Rights Reserved by stract</p>
            <div class="pay">
                <a href=""> <img src="/assets\images\Badge (1).svg" alt="">
                </a>
                <a href=""> <img src="/assets\images\Badge (2).svg" alt="">
                </a>
                <a href=""> <img src="/assets\images\Badge.svg" alt="">
                </a>
                <a href=""> <img src="/assets\images\Badge (3).svg" alt="">
                </a>
                <a href=""> <img src="/assets\images\Badge (4).svg" alt="">
                </a>
            </div>


        </div>
    </div>


</footer>