<header>

    <div class="black" id="none">
        <i id="remove" class="fa-solid fa-x"></i>

        <p> Sign up and get 20% off to your first order. <a href="#"> Sign Up Now</a> </p>
    </div>

    <nav class="navbar class2 navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-content position-relative d-block d-lg-flex w-100">

                <div class="d-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <h1>
                            <img src="../assets\images\SHOP.CO.png" alt="">
                        </h1>
                    </a>
                </div>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="t-shirt.html">On Sale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="casual.html">New Arrivals</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link active" href="your-cart.html">Brands</a>

                        </li>
                    </ul>
                    <form class="d-none d-lg-flex header-search  flex-grow-1">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input class="form-control " type="search" placeholder="Search for products..."
                            aria-label="Search for products...">
                    </form>


                </div>

                <div class="d-flex header-icons align-items-center">
                    <div class="search-toggler d-block d-lg-none">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <form class="d-none header-search search-collapse flex-grow-1">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input class="form-control " type="search" placeholder="Search for products..."
                            aria-label="Search for products...">
                    </form>
                    <div class=" dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/assets\images\Frame.svg" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class=" dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/assets\images\Vector (6).svg" alt="">

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</header>