
@font-face {
    font-family: Integral CF;
    src: url('../fonts/Fontspring-DEMO-integralcf-extrabold.otf');
    font-weight: 700;
}
@font-face {
    font-family: Integral CF;
    src: url('../fonts/Fontspring-DEMO-integralcf-bold');
    font-weight: 600;
}
@font-face {
    font-family: Integral CF;
    src: url('../fonts/Araboto-Black.ttf');
    font-weight: 800;
}


@font-face {
    font-family: Satoshi;
    src: url('../fonts/Satoshi-Bold.eot');
    font-weight: 700;
}
@font-face {
    font-family: Satoshi;
    src: url('../fonts/');
    font-weight: 600;
}
@font-face {
    font-family: Satoshi;
    src: url('../fonts/');
    font-weight: 800;
}