{% extends "layout.html" %}

{% set title = 'Casual' %}

{% block content %}

<section class="casual">

    <div class="container">



        
        <select class="form">
            <option selected>Home</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
<span> Casual </span>
        <div class="row ">



            <div class="mb-3 col-xl-3 col-lg-6 col-md-6 ">
                <div class="filters">

                <div class="accordion" id="accordionExample">
                    <div class="vector1  d-flex justify-content-between">
                        <span> Filters </span>
                        <img src="../assets/images/Vector (5).svg" alt="">
                    </div>

                    <button class="   accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="" aria-controls="">
                        </button>

                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    
                        <div class="vector  d-flex justify-content-between">
                            <span> Shirts </span>
                            <i class="fa-solid fa-angle-right"></i>              
                          </div>


                        <div class="vector  d-flex justify-content-between">
                            <span> Shorts </span>
                            <i class="fa-solid fa-angle-right"></i>              
                          </div>
               
                <div class="vector  d-flex justify-content-between">
                    <span> Shirts </span>
                    <i class="fa-solid fa-angle-right"></i>              
                  </div>
                <div class="vector  d-flex justify-content-between">
                    <span> Hoodie </span>
                    <i class="fa-solid fa-angle-right"></i>                </div>
                <div class="vector2  d-flex justify-content-between">
                    <span> Jeans </span>
                    <i class="fa-solid fa-angle-right"></i>                </div>

                    <div class="vector1 d-flex justify-content-between  ">
<img src="../assets/images/Frame 75.png" alt="">
                    
                    </div>
                    <div class="vector1">
                        <div class="price d-flex justify-content-between  ">
                            <span>color </span>
                            <i class="fa-solid fa-angle-up"></i>
                        </div>
                        <img src="../assets/images/1 (10).png" alt="">
                        <img src="../assets/images/1 (9).png" alt="">
                        <img src="../assets/images/1 (8).png" alt="">
                        <img src="../assets/images/1 (7).png" alt="">
                        <img src="../assets/images/1 (6).png" alt="">
                        <img src="../assets/images/1 (5).png" alt="">
                        <img src="../assets/images/1 (4).png" alt="">
                        <img src="../assets/images/1 (3).png" alt="">
                        <img src="../assets/images/1 (2).png" alt="">
                        <img src="../assets/images/1 (1).png" alt="">
                    </div>

                   <div class="size">
                    <div class="vector1">
                        <div class="price d-flex justify-content-between  ">
                            <span>Size </span>
                            <i class="fa-solid fa-angle-up"></i>
                        </div>
                   </div>  
                   <div class="bu">
                    <button class="btn ">XX-Small</button>
                    <button class="btn ">X-Small</button>
                    <button class="btn ">Small</button>
                    <button class="btn ">Medium</button>
                    <button class="btn ">X-Large</button>
                    <button class="btn ">X-Large</button>
                    <button class="btn ">XX-Large</button>
                    <button class="btn ">3X-Large</button>
                    <button class="btn ">4X-Large</button>



                   </div>  
                </div>    
           
               <div class="dress">
                <div class="vector1  d-flex justify-content-between">
                    <span> Dress Style </span>
                    <i class="fa-solid fa-angle-up"></i>
                </div>
                <div class="vector  d-flex justify-content-between">
                    <span> Casual </span>
                    <i class="fa-solid fa-angle-right"></i>                </div>
                <div class="vector  d-flex justify-content-between">
                    <span> Formal </span>
                    <i class="fa-solid fa-angle-right"></i>                </div>
                <div class="vector  d-flex justify-content-between">
                    <span> Party </span>
                    <i class="fa-solid fa-angle-right"></i>                </div>
                    <div class="vector  d-flex justify-content-between">
                        <span> Gym </span>
                        <i class="fa-solid fa-angle-right"></i>                </div>

                        <button class="btn ">Apply Filter</button>

               </div>

            </div>

                    </div>
                 
                  </div>

           
        </div>









        

            <div class="mb-3 col-xl-9 col-lg-6 col-md-6 ">
                <div class="popo ">
                    <h5> Casual </h5>
<div class=" d-flex align-items-center ">
    <p> Showing 1-10 of 100 Products <span> Sort by</span></p>
 
    <button id="popover-btn"> Most Popular <img class="visible" src="../assets/images/Vector.svg" alt="">
    </button>
    <img class=" hide" src="../assets/images/Frame 19.svg" alt="">
    <div class="popover" id="popover-content">
      <h3>Popover Title</h3>
      <p>This is the content of the popover.</p>
    </div>
 
 
</div>                  




                </div>



                <div class="compound">

                
                    <div class="container  ">
                
                
                

                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                              <div class="carousel-item active">

                                <div class="row   ">

                                    <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                        <div class="box">
                                            <img src="../assets/images/Frame 32 (2).png" alt="">
                                            <div class="content">
                                                <h5> Polo with Tipping Details</h5>
                                                <div class="star">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half"></i>
                                                   <span>  4.5/5</span>
                                                        </div>
                                                        <div class="span0 d-flex">
                                                            <span>$212</span>
                                                            <span> $232 </span>
                                                            <span>-20%</span>
                                                        </div>
                                            </div>
                                            
                                            </div>
                                        </div>
                                          <div class="mb-3 col-xl-4 col-lg-6 col-sm-6 ">
                            
                                            <div class="box">
                                                <img src="/assets\images\Frame 33 (7).png" alt="">
                                                <div class="content">
                                                    <h5> Gradient Graphic T-shirt </h5>
                                                    <div class="star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star-half"></i>
                                                       <span>  4.5/5</span>
                                                            </div>
                                                            <div class="span0 d-flex">
                                                                <span>$212</span>
                                                                <span> $232 </span>
                                                                <span>-20%</span>
                                                            </div>
                                                </div>
                                                
                                                </div>
                                            </div> 
                                             <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                                <div class="box">
                                                    <img src="/assets\images\Frame 73.png" alt="">
                                                    <div class="content">
                                                        <h5> Black Striped T-shirt </h5>
                                                        <div class="star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                           <span>  4.5/5</span>
                                                                </div>
                                                                <div class="span0 d-flex">
                                                                    <span>$212</span>
                                                                    <span> $232 </span>
                                                                    <span>-20%</span>
                                                                </div>
                                                    </div>
                                                    
                                                    </div>
                                                </div>  
                                  
                                 
                                </div>

                              </div>
                              <div class="carousel-item">
                                <div class="row   ">

<div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                                <div class="box">
                                                    <img src="/assets\images\Frame 73.png" alt="">
                                                    <div class="content">
                                                        <h5> SKINNY FIT JEANS </h5>
                                                        <div class="star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                           <span>  4.5/5</span>
                                                                </div>
                                                                <div class="span0 d-flex">
                                                                    <span>$212</span>
                                                                    <span> $232 </span>
                                                                    <span>-20%</span>
                                                                </div>
                                                    </div>
                                                    
                                                    </div>
                                                </div>  
                                  
                                    
                                          
                                             
                                            <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                                <div class="box">
                                                    <img src="../assets/images/Frame 32 (2).png" alt="">
                                                    <div class="content">
                                                        <h5> CHECKERED SHIRT </h5>
                                                        <div class="star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                           <span>  4.5/5</span>
                                                                </div>
                                                                <div class="span0 d-flex">
                                                                    <span>$212</span>
                                                                    <span> $232 </span>
                                                                    <span>-20%</span>
                                                                </div>
                                                    </div>
                                                    
                                                    </div>
                                                </div>

                                                <div class="mb-3 col-xl-4 col-lg-6 col-sm-6 ">
                            
                                                    <div class="box">
                                                        <img src="/assets\images\Frame 33 (7).png" alt="">
                                                        <div class="content">
                                                            <h5> SLEEVE STRIPED T-SHIRT </h5>
                                                            <div class="star">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star-half"></i>
                                                               <span>  4.5/5</span>
                                                                    </div>
                                                                    <div class="span0 d-flex">
                                                                        <span>$212</span>
                                                                        <span> $232 </span>
                                                                        <span>-20%</span>
                                                                    </div>
                                                        </div>
                                                        
                                                        </div>
                                                    </div>  
                                </div>
    


                              </div>

                           
                        </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true">                               <i  class=" text-black fa-solid fa-arrow-left"></i>
                              </span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true">                               <i  class=" text-black  fa-solid fa-arrow-right"></i>
                              </span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>


                          <div id="carouselExample0" class="carousel slide">
                            <div class="carousel-inner">
                              <div class="carousel-item active">

                                <div class="row   ">

                                    <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                        <div class="box">
                                            <img src="../assets/images/Frame 32 (2).png" alt="">
                                            <div class="content">
                                                <h5> SLEEVE STRIPED T-SHIRT </h5>
                                                <div class="star">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half"></i>
                                                   <span>  4.5/5</span>
                                                        </div>
                                                        <div class="span0 d-flex">
                                                            <span>$212</span>
                                                            <span> $232 </span>
                                                            <span>-20%</span>
                                                        </div>
                                            </div>
                                            
                                            </div>
                                        </div>
                                          <div class="mb-3 col-xl-4 col-lg-6 col-sm-6 ">
                            
                                            <div class="box">
                                                <img src="/assets\images\Frame 33 (7).png" alt="">
                                                <div class="content">
                                                    <h5>SKINNY FIT JEANS </h5>
                                                    <div class="star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star-half"></i>
                                                       <span>  4.5/5</span>
                                                            </div>
                                                            <div class="span0 d-flex">
                                                                <span>$212</span>
                                                                <span> $232 </span>
                                                                <span>-20%</span>
                                                            </div>
                                                </div>
                                                
                                                </div>
                                            </div> 
                                             <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                                <div class="box">
                                                    <img src="/assets\images\Frame 73.png" alt="">
                                                    <div class="content">
                                                        <h5> CHECKERED SHIRT </h5>
                                                        <div class="star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                           <span>  4.5/5</span>
                                                                </div>
                                                                <div class="span0 d-flex">
                                                                    <span>$212</span>
                                                                    <span> $232 </span>
                                                                    <span>-20%</span>
                                                                </div>
                                                    </div>
                                                    
                                                    </div>
                                                </div> 



                              </div>
                              

                              </div>
                              <div class="carousel-item">
                                <div class="row   ">

                                    <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                        <div class="box">
                                            <img src="/assets\images\Frame 73.png" alt="">
                                            <div class="content">
                                                <h5> SLEEVE STRIPED T-SHIRT </h5>
                                                <div class="star">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half"></i>
                                                   <span>  4.5/5</span>
                                                        </div>
                                                        <div class="span0 d-flex">
                                                            <span>$212</span>
                                                            <span> $232 </span>
                                                            <span>-20%</span>
                                                        </div>
                                            </div>
                                            
                                            </div>
                                        </div> 

                                  
                                          
                                            
                                            <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                            
                                                <div class="box">
                                                    <img src="../assets/images/Frame 32 (2).png" alt="">
                                                    <div class="content">
                                                        <h5> VERTICAL STRIPED SHIRT </h5>
                                                        <div class="star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                           <span>  4.5/5</span>
                                                                </div>
                                                                <div class="span0 d-flex">
                                                                    <span>$212</span>
                                                                    <span> $232 </span>
                                                                    <span>-20%</span>
                                                                </div>
                                                    </div>
                                                    
                                                    </div>
                                                </div>

<div class="mb-3 col-xl-4 col-lg-6 col-sm-6 ">
                            
                                            <div class="box">
                                                <img src="/assets\images\Frame 33 (7).png" alt="">
                                                <div class="content">
                                                    <h5> COURAGE GRAPHIC T-SHIRT </h5>
                                                    <div class="star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star-half"></i>
                                                       <span>  4.5/5</span>
                                                            </div>
                                                            <div class="span0 d-flex">
                                                                <span>$212</span>
                                                                <span> $232 </span>
                                                                <span>-20%</span>
                                                            </div>
                                                </div>
                                                
                                                </div>
                                            </div> 
                              </div>
                              
                            </div>
                        </div>
                        <i  class=" text-black fa-solid fa-arrow-left"></i>
                        <i  class=" text-black  fa-solid fa-arrow-right"></i>
                  
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample0" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true">                         <i  class=" text-black fa-solid fa-arrow-left"></i>
                              </span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample0" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true">                          <i  class=" text-black  fa-solid fa-arrow-right"></i>
                              </span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>


<div id="carouselExample00" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row   ">
            <div class="mb-3 col-xl-4 col-lg-6 col-md-6  col-sm-6">
                <div class="box">
                    <img src="../assets/images/Frame 33 (2).png" alt="">
                    <div class="content">
                        <h5> VERTICAL STRIPED SHIRT </h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                           <span>  4.5/5</span>
                                </div>
                              <span>
                                $145
                              </span>

                    </div>
                    
                    </div>
                </div>
                <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">

                    <div class="box">
                        <img src="../assets/images/Frame 34 (2).png" alt="">
                        <div class="content">
                            <h5>COURAGE GRAPHIC T-SHIRT </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                               <span>  4.5/5</span>
                                    </div>
                            
                            <span> $120 </span>
                        </div>
                        
                        </div>
                    </div>
                    <div class="mb-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">

                        <div class="box">
                            <img src="../assets/images/Frame 38 (2).png" alt="">
                            <div class="content">
                                <h5> LOOSE FIT BERMUDA SHORTS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                   <span>  4.5/5</span>
                                        </div>
                                
                                <span> $120 </span>
                            </div>
                            
                            </div>
                                                        
                    </div>
                </div>


    </div>
    <div class="carousel-item">
        <div class="row   ">

            

                <div class="mb-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">

                    <div class="box">
                        <img src="../assets/images/Frame 38 (2).png" alt="">
                        <div class="content">
                            <h5> SKINNY FIT JEANS </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                               <span>  4.5/5</span>
                                    </div>
                            
                            <span> $120 </span>
                        </div>
                        
                        </div>
                                                    
                </div>            

                <div class="mb-3 col-xl-4 col-lg-6 col-md-6  col-sm-6">

                    <div class="box">
                        <img src="../assets/images/Frame 33 (2).png" alt="">
                        <div class="content">
                            <h5> CHECKERED SHIRT </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                               <span>  4.5/5</span>
                                    </div>
                                  <span>
                                    $145
                                  </span>
    
                        </div>
                        
                        </div>
                    </div>
            
                <div class="mb-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 ">

                    <div class="box">
                        <img src="../assets/images/Frame 34 (2).png" alt="">
                        <div class="content">
                            <h5> SLEEVE STRIPED T-SHIRT </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                               <span>  4.5/5</span>
                                    </div>
                            
                            <span> $120 </span>
                        </div>
                        
                        </div>
                    </div>  
                </div>
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample00" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"> <i  class=" text-black fa-solid fa-arrow-left"></i>
    </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample00" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"> <i  class=" text-black  fa-solid fa-arrow-right"></i>
    </span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

                       

                
                </div>
                <div class="rorl">
                    <img src="/assets\images\Frame 88.png"alt="">
                 </div>                 
                </div>  


       
        </div>

        </div>
        
             

    </div>

</section>




{% endblock content %}