{% extends "layout.html" %}

{% set title = 'Home' %}

{% block content %}


<section class="landing slider position-relative ">
    <div class="container  ">
    <div class="main-slider ">
        {% for i in range(0, 3) -%}
                    <div class="mb-3 col-xl-6 col-lg-6 col-md-12">
                        <h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
                        <p> Browse through our diverse range of meticulously crafted garments, designed
                            to bring out your individuality and cater to your sense of style. </p>
                        <button class="btn">Shop Now</button>
                        <div class="span0">
                            <div class="span1">
                                <span>200+</span>
                                <span>International Brands</span>
                            </div>

                            <div class="span1">
                                <span>2,000+</span>
                                <span>High-Quality Products</span>
                            </div>
                            <div class="span1">
                                <span>30,000+</span>
                                <span>Happy Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-xl-6 col-lg-6 col-md-12">
                        <img src="../assets/images/Mask group (1).png" alt="">
                    </div>
        {%- endfor %}
    </div>
    {% include 'component/slider-arrows.html' %}
</div>

</section> 
<section class="logs">
    <img src="../assets/images/1.png" alt="">
    <img src="../assets/images/2.png" alt="">
    <img src="../assets/images/3.png" alt="">
    <img src="../assets/images/4.png" alt="">
    <img src="../assets/images/5.png" alt="">


</section>

<section class="slider-qwer-compound  position-relative">
    <div class="container  ">
        <h2> NEW ARRIVALS</h2>
        <div class="main-slider">
            {% for i in range(0, 11) -%}
            <div class="slide-item">
                <div class=" compound">
                    <div class="box">
                        <img src="/assets\images\Frame 33 (2).png" alt="">
                        <div class="content">
                            <h5>T-SHIRT WITH TAPE DETAILS </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                                <span> 4.5/5</span>
                            </div>
                            <div class="span0 d-flex">
                                <span>$240</span>
                                <span> $232 </span>
                                <span>-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide-item">
                <div class=" compound">
                    <div class="box">
                        <img src="/assets\images\Frame 38 (4).png" alt="">
                        <div class="content">
                            <h5>T-SHIRT WITH TAPE DETAILS </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                                <span> 4.5/5</span>
                            </div>
                            <div class="span0 d-flex">
                                <span>$240</span>
                                <span> $232 </span>
                                <span>-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class=" compound">
                    <div class="box">
                        <img src="/assets\images\Frame 32 (1).png " alt="">
                        <div class="content">
                            <h5>T-SHIRT WITH TAPE DETAILS </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                                <span> 4.5/5</span>
                            </div>
                            <div class="span0 d-flex">
                                <span>$240</span>
                                <span> $232 </span>
                                <span>-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class=" compound">
                    <div class="box">
                        <img src="assets\images\Frame 72.png " alt="">
                        <div class="content">
                            <h5>T-SHIRT WITH TAPE DETAILS </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                                <span> 4.5/5</span>
                            </div>
                            <div class="span0 d-flex">
                                <span>$240</span>
                                <span> $232 </span>
                                <span>-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
    <button class="btn">View All</button>


    {% include 'component/slider-arrows.html' %}

</section> 


<section class="slider-compound  position-relative">
    <div class="container  ">
        <h2> top selling</h2>
        <div class="main-slider">
            {% set data = [
            {
            title:"T-SHIRT WITH TAPE DETAILS",
            price:"$120",
            image:"../assets/images/Frame 32 (2).png"
            },
            {
            title:"SKINNY FIT JEANS",
            price:"$240",
            image:"../assets/images/Frame 32 (3).png"
            },
            {
            title:"CHECKERED SHIRT",
            price:"$180",
            image:"../assets/images/Frame 32 (4).png"
            }
            ,
            {
            title:"SLEEVE STRIPED T-SHIRT",
            price:"$130",
            image:"../assets/images/Frame 32 (1).png"
            }

            ]
            %}
            {% for i in range (0,11)%}
            {% for item in data %}
            <div class="slide-item">
                <div class=" compound">
                    <div class="box">
                        <img src="{{item.image}}" alt="">
                        <div class="content">
                            <h5>{{item.title}} </h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                                <span> 4.5/5</span>
                            </div>
                            <div class="span0 d-flex">
                                <span>{{ item.price}}</span>
                                <span> $232 </span>
                                <span>-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}


        </div>
    </div>
    <button class="btn">View All</button>


    {% include 'component/slider-arrows.html' %}

</section> 

  <div class="container"> 

    <section class="browse">



        <h2> BROWSE BY dress STYLE </h2>
        <div class="row   ">
            <div class=" col-xl-5 col-lg-6 col-md-12">
                <img src="../assets/images/Frame 61.png" alt="">

            </div>

            <div class=" col-xl-7 col-lg-6 col-md-12">

                <img src="../assets/images/Frame 62.png" alt="">
            </div>
            <div class=" col-xl-7 col-lg-6 col-md-12">

                <img src="../assets/images/Frame 64.png" alt="">
            </div>

            <div class="col-xl-5 col-lg-6 col-md-12">

                <img src="../assets/images/Frame 63.png" alt="">
            </div>

        </div>
    </section>

</div>


<section class="slider-our-happy  position-relative overflow-hidden">
    <h2> OUR HAPPY CUSTOMERS </h2>

    <div class="main-slider">
        {% for i in range(0, 11) -%}
                        <div class="slide-item">
                            <div class="box">
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <span> Sarah M.</span>
                            <img src="../assets/images/Vector (2).svg" alt="">
                            <p> "I'm blown away by the quality and style of the clothes I received from Shop.co.
                                From casual wear to elegant
                                dresses, every piece I've bought has exceeded my expectations.” </p>
                        </div>
                    </div>

                        <div class="slide-item">
                            <div class="box">

                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <span> Sarah M.</span>
                            <img src="../assets/images/Vector (2).svg" alt="">
                            <p> "I'm blown away by the quality and style of the clothes I received from Shop.co.
                                From casual wear to elegant
                                dresses, every piece I've bought has exceeded my expectations.” </p>
                        </div>
                    </div>

                        <div class="slide-item">
                            <div class="box">

                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <span> Sarah M.</span>
                            <img src="../assets/images/Vector (2).svg" alt="">
                            <p> "I'm blown away by the quality and style of the clothes I received from Shop.co.
                                From casual wear to elegant
                                dresses, every piece I've bought has exceeded my expectations.” </p>
                        </div>
                    </div>

                        <div class="slide-item">
                            <div class="box">

                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>
                            <span> Alex K.</span>
                            <img src="../assets/images/Vector (2).svg" alt="">
                            <p>"Finding clothes that align with my personal style used to be a challenge until
                                I discovered Shop.co. The range of options they offer is truly
                                remarkable, catering to a variety of tastes and occasions.” </p>
                            </div>

                        </div>
                        <div class="slide-item">
                            <div class="box">

                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <span> James L.</span>
                            <img src="../assets/images/Vector (2).svg" alt="">

                            <p> "As someone who's always on the lookout for unique fashion pieces,
                                I'm thrilled to have stumbled upon Shop.co. The selection of
                                clothes is not only diverse but also on-point with the latest trends.” </p>
                        </div>
                    </div>

                        <div class="slide-item">
                            <div class="box">

                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <span> James L.</span>
                            <img src="../assets/images/Vector (2).svg" alt="">

                            <p> "As someone who's always on the lookout for unique fashion pieces,
                                I'm thrilled to have stumbled upon Shop.co. The selection of
                                clothes is not only diverse but also on-point with the latest trends.” </p>
                        </div>
                    </div>

                        {% endfor %}

                    </div>
</section>
 


{% endblock content %}