{% extends "layout.html" %}

{% set title = 'Welcome' %}

{% block content %}


<div class="t-shirt">

    <div class="container">
        <form>
            <select class="form">
                <option selected>Home</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form">
                <option selected>Shop</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select><select class="form">
                <option selected>Men</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <span>T-shirts</span>

        </form>


        <div class="pic-Graphic d-flex ">


            <div class="pic">


                <div class="big-small">
                    <div class="small">
                        <img src="../assets/images/image 2.png" alt="">
                        <img src="../assets/images/image 5.png" alt="">
                        <img src="../assets/images/image 6.png" alt="">
                    </div>


                    <div class="big">
                        <img src="../assets/images/image 1.png" alt="">
                    </div>
                </div>




            </div>

            <div class="Graphic">
                <h2> One Life Graphic T-shirt </h2>
                <div class="star d-flex justify-content-between ">
                    <div>

                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <span>4.5/5 </span>
                    </div>
                </div>

                <div class="span0 d-flex">
                    <span>$260</span>
                    <span>$300</span>
                    <span>-40%</span>
                </div>
                <p>

                    This graphic t-shirt which is perfect for any occasion.
                    Crafted from a soft and breathable fabric,
                    it offers superior comfort and style.
                </p>
                <span class="color"> Select Colors </span>
                <div class="circle ">
                        <form class="d-flex " >
                          <div class="form-group one">
                            <input type="checkbox" id="html">
                            <label for="html"></label>
                          </div>
                          <div class="form-group tow">
                            <input type="checkbox" id="css">
                            <label for="css"></label>
                          </div>
                          <div class="form-group three">
                            <input type="checkbox" id="javascript">
                            <label for="javascript"></label>
                          </div>
                        </form>
                </div>
                <span class="color"> Choose Size </span>
                <div class="size d-flex">
                    <button class="btn ">Small</button>
                    <button class="btn ">Medium</button>
                    <button class="btn ">Large</button>
                    <button class="btn ">X-Large</button>
                </div>
                <div class="cart d-flex"> 
                    <button class="btn ">  <i class="fa-solid fa-minus"></i><span>1</span> <i class="fa-solid fa-plus"></i> </button>
                    <button class="btn ">Add to Cart</button>
                </div>


            </div>

        </div>

    </div>
   
</div>

<div class="center">
    <div class="container">
        <span>Product Details</span>
        <span>Rating & Reviews</span>
        <span>FAQs</span>
    </div>
    
</div>


<section class="all-reviews">

    <div class="container">
        <div class="reviews">
            <div class="select-span0 d-flex justify-content-between">
                <div class="span0 ">
                    <span> All Reviews </span>
                    <span> (451) </span>
                </div>
                <div class="selected d-flex">
                    <img src="../assets/images/Vector (3).svg" alt="">
               
                   
                        <select class="form">
                            <option selected>Latest</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
             
                    <button class="btn ">Write a Review</button>
                </div>
            </div>
        <div class="row mt-3 ">
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="box">

                    <div class="star d-flex justify-content-between  ;
            ">
                        <div>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <img src="../assets/images/Vector (2).svg" alt="">
                        </div>

                        <div class="dot">
                            <i class="  fa-solid fa-ellipsis"></i>
                        </div>

                    </div>

                    <span> Samantha D.</span>
                    <p>"This t-shirt is a must-have for anyone who appreciates good design. The minimalistic
                        yet stylish pattern caught my eye, and the fit is perfect.
                        I can see the designer's touch in every aspect of this shirt." </p>
                    <p class="Posted">Posted on August 15, 2023</p>

                </div>

            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="box">
                    <div class="star d-flex justify-content-between  ;
                            ">
                        <div>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                            <img src="../assets/images/Vector (2).svg" alt="">
                        </div>

                        <div class="dot">
                            <i class="  fa-solid fa-ellipsis"></i>
                        </div>

                    </div>

                    <span> Alex M.</span>
                    <p>"Finding clothes that align with my personal style used to be a challenge until
                        I discovered Shop.co. The range of options they offer is truly
                        remarkable, catering to a variety of tastes and occasions.” </p>
                    <p class="Posted"> Posted on August 14, 2023 </p>
                </div>


            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="box">
                    <div class="star d-flex justify-content-between  ;
                              ">
                        <div>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                            <img src="../assets/images/Vector (2).svg" alt="">
                        </div>

                        <div class="dot">
                            <i class="  fa-solid fa-ellipsis"></i>
                        </div>

                    </div>

                    <span> Ethan R.</span>

                    <p> "This t-shirt is a fusion of comfort and creativity. The fabric is soft,
                        and the design speaks volumes about the designer's skill. It's like wearing
                        a piece of art that reflects my passion for both design and fashion." </p>
                    <p class="Posted"> Posted on August 17, 2023 </p>

                </div>

            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="box">
                    <div class="star d-flex justify-content-between  ;
                            ">
                        <div>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                            <img src="../assets/images/Vector (2).svg" alt="">
                        </div>

                        <div class="dot">
                            <i class="  fa-solid fa-ellipsis"></i>
                        </div>

                    </div>

                    <span> Olivia P.</span>

                    <p> "This t-shirt is a fusion of comfort and creativity. The fabric is soft,
                        and the design speaks volumes about the designer's skill. It's like wearing
                        a piece of art that reflects my passion for both design and fashion." </p>
                    <p class="Posted"> Posted on August 16, 2023 </p>
                </div>

            </div>

            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="box">
                    <div class="star d-flex justify-content-between  ;
                                            ">
                        <div>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <img src="../assets/images/Vector (2).svg" alt="">
                        </div>

                        <div class="dot">
                            <i class="  fa-solid fa-ellipsis"></i>
                        </div>

                    </div>

                    <span> Liam K.</span>

                    <p> "This t-shirt is a fusion of comfort and creativity. The fabric is soft,
                        and the design speaks volumes about the designer's skill. It's like wearing
                        a piece of art that reflects my passion for both design and fashion." </p>
                    <p class="Posted"> Posted on August 14, 2023 </p>
                </div>

            </div>

            <div class="mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="box">
                    <div class="star d-flex justify-content-between  ;
                                            ">
                        <div>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                            <img src="../assets/images/Vector (2).svg" alt="">
                        </div>

                        <div class="dot">
                            <i class="  fa-solid fa-ellipsis"></i>
                        </div>

                    </div>

                    <span> Ava H.</span>

                    <p> "This t-shirt is a fusion of comfort and creativity. The fabric is soft,
                        and the design speaks volumes about the designer's skill. It's like wearing
                        a piece of art that reflects my passion for both design and fashion." </p>
                    <p class="Posted"> Posted on August 17, 2023 </p>
                </div>


            </div>

        </div>
    <button class="btn ">Load More Reviews</button>
</div>
</div>

</section>



<div class="compound">

    <h2> You might also like</h2>

    <div class="container  ">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row   ">
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6 ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 32 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
                                <div class="span0 d-flex">
                                    <span>$240</span>
                                    <span> $260 </span>
                                    <span>-20%</span>
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6  ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 33 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
        
                                <span> $120 </span>
                            </div>
        
                        </div>
                    </div>
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6  ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 34 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
        
                                <span> $120 </span>
                            </div>
        
                        </div>
                    </div>
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6 ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 38 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
                                <div class="span0 d-flex">
                                    <span>$240</span>
                                    <span> $260 </span>
                                    <span>-20%</span>
                                </div>
                            </div>
        
                        </div>
                    </div>
        
        
                </div>
              </div>
              <div class="carousel-item">
                <div class="row   ">
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6 ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 38 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
                                <div class="span0 d-flex">
                                    <span>$240</span>
                                    <span> $260 </span>
                                    <span>-20%</span>
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6  ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 34 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
        
                                <span> $120 </span>
                            </div>
        
                        </div>
                    </div>
                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6  ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 33 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
        
                                <span> $120 </span>
                            </div>
        
                        </div>
                    </div>

                    <div class="mb-3 col-xl-3 col-lg-6 col-md-6 ">
        
                        <div class="box">
                            <img src="../assets/images/Frame 32 (3).png" alt="">
                            <div class="content">
                                <h5> T-SHIRT WITH TAPE DETAILS </h5>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                    <span> 4.5/5</span>
                                </div>
                                <div class="span0 d-flex">
                                    <span>$240</span>
                                    <span> $260 </span>
                                    <span>-20%</span>
                                </div>
                            </div>
        
                        </div>
                    </div>
                  
                
             
        
        
                </div>
              </div>
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control" aria-hidden="true">                      <i  class=" text-black fa-solid fa-arrow-left"></i>
              </span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true">                  <i  class=" text-black  fa-solid fa-arrow-right"></i>
              </span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

      

    </div>

</div>


{% endblock content %}
