{% extends "layout.html" %}

{% set title = 'Your-cart' %}

{% block content %}

<div class="your-cart ">

<div class="container  ">

    <select class="form">
        <option selected>Home</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
<span> cart </span>
    <h2> Your cart </h2>
    <div class="content  d-flex ">
            <div class="cont">
                <div class="box1 d-flex">
                        <img src="../assets/images/Frame 33 (4).png" alt="">
                    <div class="qwer w-100">
                        <div class="Gradient d-flex justify-content-between  align-items-center ">
                            <h5> Gradient Graphic T-shirt</h5>
                            <img src="../assets/images/Vector (4).svg" alt="">
                        </div>
                        <div class="mt-2">       
                              <span class="active">Size:  </span><span>Large </span>
                        </div>
                        <div class="mb-2">       
                               <span class="active"> Color:  </span><span> Blue </span>
                        </div>
                        <div class="Gradient2  d-flex justify-content-between   align-items-center ">
                            <h5>  180 </h5>
                            <button class="btn ">  <i class="fa-solid fa-minus"> </i><span>1</span> <i class="fa-solid fa-plus"></i> </button> 
                        </div>
                    </div>
                 
                </div> 
                <div class="box1 d-flex">
                        <img  src="/assets\images\Frame 33 (5).png" alt="">
                    <div class="qwer w-100">
                        <div class="Gradient d-flex justify-content-between  align-items-center  ">
                            <h5> Gradient Graphic T-shirt</h5>
                            <img src="../assets/images/Vector (4).svg" alt="">
                        </div>
                        <div class="mt-2">       
                              <span class="active">Size:  </span><span>Large </span>
                        </div>
                        <div class="mb-2">       
                               <span class="active"> Color:  </span><span> Blue </span>
                        </div>
                        <div class="Gradient2  d-flex justify-content-between  align-items-center  ">
                            <h5>  180 </h5>
                            <button class="btn ">  <i class="fa-solid fa-minus"> </i><span>1</span> <i class="fa-solid fa-plus"></i> </button> 
                        </div>
                    </div>
                 
                </div> 
                 <div class="box1 d-flex">
                        <img src="../assets/images/Frame 33 (4).png" alt="">
                    <div class="qwer w-100">
                        <div class="Gradient d-flex justify-content-between align-items-center   ">
                            <h5> Gradient Graphic T-shirt</h5>
                            <img src="../assets/images/Vector (4).svg" alt="">
                        </div>
                        <div class="mt-2">       
                              <span class="active">Size:  </span><span>Large </span>
                        </div>
                        <div class="mb-2">       
                               <span class="active"> Color:  </span><span> Blue </span>
                        </div>
                        <div class="Gradient2  d-flex justify-content-between align-items-center  ">
                            <h5>  180 </h5>
                            <button class="btn ">  <i class="fa-solid fa-minus"> </i><span>1</span> <i class="fa-solid fa-plus"></i> </button> 
                        </div>
                    </div>
                 
                </div> 
            </div>
            <div class=" box ">
                <h5> Order Summary </h5>
                   <div class="Order">
                    <div class="vector  d-flex justify-content-between">
                        <span> Subtotal </span>
                        <span> $565 </span>
            
                    </div>
                    <div class="vector  d-flex justify-content-between">
                        <span> Discount (-20%) </span>
                        <span class="active2" > -$113 </span>
                    </div>
            
                    <div class="vector active d-flex justify-content-between">
                        <span> Delivery Fee </span>
                        <span>$15</span>
                    </div>
            
                        <div class="vector  d-flex justify-content-between">
                        <span class="Total"> Total </span>
                        <span> $467 </span>
                    </div>
                </div>
            
                    <div class="code d-flex justify-content-between">
                        <img src="../assets/images/Vector (7).svg" alt="">
                            <input type="text" placeholder="Add promo code">
                        <button class="btn ">Apply Filter</button>
                    </div>
                        <a href="#"> Go to Checkout             <i class="fa-solid fa-arrow-right"></i>
                        </a>
            </div> 
    </div>

</div>
</div>

{% endblock content %}